SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=attendance_db
DB_USER=attendance_user
DB_PASSWORD=<db-password>
DB_HOST=localhost
DB_PORT=5432

SITE_CENTER_LAT=6.1304
SITE_CENTER_LNG=1.2158
RADIUS_METERS=200
ACCURACY_MAX_METERS=50
GPS_REQUIRED=True

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USE_TLS=True
EMAIL_HOST_USER=<email-user>
EMAIL_HOST_PASSWORD=<email-password>

STATIC_ROOT=staticfiles/
MEDIA_ROOT=media/
